<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?><target name="e380sdk+xmind3" sequenceNumber="5">
<locations>
<location path="D:\dev\eclipse-SDK-3.8" type="Profile"/>
<location path="D:\Program Files\xmind3" type="Profile"/>
</locations>
</target>